.sportsIneligible {
  background-color: goldenrod; font-family: "Papyrus";
}
.academicWarning { background-color: indianred; font-family: "Times New Roman";
}

html {
  text-align: center; }

.container {
  width: 900px; }

thead { 
  font-size: 150% ;
 }

.col-sm {
display:inline-block;
}

dl .row {
  display: flex;
  justify-content: space-around;
}